@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model ITAssignTwo.Models.GalleryModel

<h2>@Model.Title</h2>

@*
    Maybe this, maybe not?
*@
<div id="gallery">
    <a class="img" href="~/images/gallery/0.jpg"><img class="thumb" src="~/images/thumbs/0.jpg" /></a>
    <a class="img" href="~/images/gallery/1.jpg"><img class="thumb" src="~/images/thumbs/1.jpg" /></a>
    <a class="img" href="~/images/gallery/2.jpg"><img class="thumb" src="~/images/thumbs/2.jpg" /></a>
    <a class="img" href="~/images/gallery/3.jpg"><img class="thumb" src="~/images/thumbs/3.jpg" /></a>
    <a class="img" href="~/images/gallery/4.jpg"><img class="thumb" src="~/images/thumbs/4.jpg" /></a>
    <a class="img" href="~/images/gallery/5.jpg"><img class="thumb" src="~/images/thumbs/5.jpg" /></a>
    <a class="img" href="~/images/gallery/6.jpg"><img class="thumb" src="~/images/thumbs/6.jpg" /></a>
    <a class="img" href="~/images/gallery/7.jpg"><img class="thumb" src="~/images/thumbs/7.jpg" /></a>
    <a class="img" href="~/images/gallery/8.jpg"><img class="thumb" src="~/images/thumbs/8.jpg" /></a>
    <a class="img" href="~/images/gallery/9.jpg"><img class="thumb" src="~/images/thumbs/9.jpg" /></a>
    <a class="img" href="~/images/gallery/10.jpg"><img class="thumb" src="~/images/thumbs/10.jpg" /></a>
    <a class="img" href="~/images/gallery/11.jpg"><img class="thumb" src="~/images/thumbs/11.jpg" /></a>
</div>

